.header {
    background-image: url(../img/background-first.png);
    width: 418px;
    min-height: 847px;
    background-size: cover;
    background-position: center;
      }

.header__image-logo {
    width: 186px;
    height: 58px;
    position: absolute;
    margin-top: 31px;
    margin-left: 25px;
 }

.header__title {
    color: white  ;
    font-size: 48px;
    padding-top: 206px ;
    line-height: 55px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.2px; 
}

.header__sub-title {
    color: white;
    text-align: center;
    width: 400px;
    font-size: 28px;
    font-family: monospace;
    padding-top: 27px ;
}

.button-try {
    background-color: #2091F9;
    width: 236px;
    height: 52px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-size: cover;
    display: block;
    margin: 69px auto;
 }
    